<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Blog - Sign up</title>
		</head>
	<body>
		<div class="logotype">Blog</div>
		<div class="container registration">
			<h2 class="h2_sign_up">Sign up</h2>
			<div class="form">
				<%= render partial: "shared/sign-up-form" %>
			</div>
		</div>
	</body>
</html>