<div class="navbar-nav nav-menu">
	<div class="list-group">
		<a href="#" class="list-group-item list-group-item-action">New note</a>
		<a href="#" class="list-group-item list-group-item-action">Settings</a>
	</div>
</div>
