<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
	</head>
	<body>
		<div class="container home">
			<header>
				<%= render partial: "shared/header" %>
			</header>
			<div class="menu">
				<%= render partial: "shared/menu" %>
			</div>
			<main>
				
			</main>
		</div>
	</body>
</html>