<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Blog</title>
		</head>
	<body>
			<div class="logotype">Blog</div>
		<table class="container index">
			<td class="empty-column"></td>
			<td class="starter-info" id="box">
				<h2>Hi!</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			</td>
			<td class="empty-column"></td>
			<td class="form" id="box">
				<%= render partial: "shared/sign-in-form" %>
			</td>
			<td class="empty-column"></td>
		</table>
	</body>
</html>
