<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome</title>
	</head>
	<body>
		<div class="logotype">Blog</div>
		<div class="container welcome">
			<h2 class="h2_welcome">Welcome!</h2>
			<div class="button">
				<%= link_to "Your page", home_path, class: "btn btn-primary" %>
			</div>
		</div>
	</body>
</html>
